doctype html
html
	head
		title List - #{path.basename(cwd)}
		<!--Import Google Icon Font-->
		link(rel="stylesheet", href="/static/css/icon.css")
		<!--Import materialize.css-->
		link(rel="stylesheet", href="/static/css/materialize.min.css", media="screen, projection")
		<!--Let browser know website is optimized for mobile-->
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		style.
			.header {
				color: #ee6e73;
				font-weight: 200;
			}
	body
		.container
			.row
				h3.header Current working directory: 
					u #{cwd}
			.row
				a.btn.red.darken-3(href="/logout")
					i.material-icons.left exit_to_app
					| Logout
				| 
				a.btn.red.lighten-1(href="/list")
					i.material-icons.left home
					| Root
			.row
				h4.header Directories - #{info.directories.length}
				.collection
					each directory in info.directories
						a.collection-item(href="?p=" + directory, target="_blank")
							i.material-icons.left folder
							| #{path.basename(directory)}
			.row
				h4.header Files - #{info.files.length}
				.collection
					each file in info.files
						if path.extname(file) == '.mp4'
							a.collection-item(href="/file?p=" + file, target="_blank")
								i.material-icons.left ondemand_video
								| #{path.basename(file)}
						else
							a.collection-item(href="/file?p=" + file, target="_blank")
								i.material-icons.left insert_drive_file
								| #{path.basename(file)}
		script(src="/static/js/jquery-3.2.1.min.js", type="text/javascript")
		script(src="/static/js/materialize.min.js", type="text/javascript")